.result-container {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  color: #343a40;
}

.calculator-history-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.ngElementStyle{
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: #fff;
}

.oldNgElement{
  background-color: red;
}

.newNgElement{
  background-color: blue;
}
