.user-card{
  width: max-content;
  height: max-content;
  background-color: #e2e8f0;
  border-radius: 1rem;
  margin: 2rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
