<div class="flex flex-col w-max">
  <button
    type="button"
    class="btn btn-dark"
    [routerLink]="'/class-22-10-2024/calculator'"
    [queryParams]="{ name: 'Carlos',  age: 32}"
  >
    Calculator QP from HTML
  </button>
  <button
    type="button"
    class="btn btn-dark"
    (click)="onCalculator()"
  >
    Calculator QP from TS
  </button>
  <button
    type="button"
    class="btn btn-dark"
    (click)="goTemplateDrivenForm()"
  >
    template driven form
  </button>
  <button
    type="button"
    class="btn btn-dark"
    (click)="goReactiveForm()"
  >
    reactive form control
  </button>
</div>
<router-outlet>
</router-outlet>
