<h1>{{title}}</h1>
<h2>Hello World {{ 2 + numberToSum }}</h2>
<p>Sum of {{ numberOne }} + {{ numberTwo }} = {{ sum(numberOne, numberTwo) }}</p>
<!-- gives error, because it's a private function -->
<!-- <p>Substract of {{ numberOne }} + {{ numberTwo }} = {{ substract(numberOne, numberTwo) }}</p> -->
<p>FOR Even Persons: {{ getArray() }}</p>

<!-- <user-card
  [name]="'José Carrasco'"
  [email]="'jsce2021@gmail.com'"
  (sendData)="recieveData($event)"
></user-card> -->
<div class="calculator-history-container">
  <app-calculator (sendData)="recieveCalculatorData($event)"></app-calculator>
  <app-history [history]="history"></app-history>
</div>
<p class="result-container">Result Gotten: {{this.resultCalculator.result}}</p>
