<app-user-form (userAdded)="addUser($event)"></app-user-form>
<app-search
  [items]="users"
  [filterFunction]="filterUsers"
  (filteredItems)="filteredUsers = $event">
</app-search>
<app-list>
  @for (user of filteredUsers.length === users.length ? users : filteredUsers; track user; let i = $index) {
    <app-user-item
      [id]="user.id"
      [name]="user.name"
      [lastName]="user.lastName"
      [type]="user.type"
      (sendData)="handleAction($event)">
    </app-user-item>
  }
</app-list>
