.student {
  background-color: #d6e9f9;
}

.professor {
  background-color: #ffe5b4;
}

.actions button {
  margin-left: 10px;
}

.user-info {
  font-weight: bold;
  text-transform: capitalize;
  color: white;
}
