<div class="p-3 flex flex-col items-start w-max h-[200px] overflow-y-auto">
  <button class="w-max h-max m-2 p-3 text-white font-semibold rounded-lg cursor-pointer bg-red-500" [routerLink]="'/class-17-10-2024'">Student Module / score</button>
  <button type="button" class="w-max h-max m-2 p-3 text-white font-semibold rounded-lg cursor-pointer bg-yellow-500" [routerLink]="'/class-17-10-2024/classmate'">Student Module / classmate</button>
  <button type="button" class="w-max h-max m-2 p-3 text-white font-semibold rounded-lg cursor-pointer bg-emerald-500" [routerLink]="'/class-17-10-2024/normal'">Student module/ / normal</button>
  <button type="button" class="w-max h-max m-2 p-3 text-white font-semibold rounded-lg cursor-pointer bg-cyan-500" [routerLink]="'/class-17-10-2024/average'">Student module/ score/average</button>
</div>
<h1 class="m-1 font-bold font-sans text-lg">NAVIGATION</h1>
<router-outlet>
</router-outlet>
