<div class="p-3 flex flex-col items-start w-max h-[200px] overflow-y-auto">
  <button class="w-max h-max m-2 p-3 text-white font-semibold rounded-lg cursor-pointer bg-red-500" [routerLink]="'/class-17-10-2024'">Class-17-10-2024 module / score</button>
  <button type="button" class="w-max h-max m-2 p-3 text-white font-semibold rounded-lg cursor-pointer bg-yellow-500" [routerLink]="'/class-17-10-2024/classmate'">Class-17-10-2024 module / classmate</button>
  <button type="button" class="w-max h-max m-2 p-3 text-white font-semibold rounded-lg cursor-pointer bg-emerald-500" [routerLink]="'/class-17-10-2024/normal'">Class-17-10-2024 module / normal</button>
  <button type="button" class="w-max h-max m-2 p-3 text-white font-semibold rounded-lg cursor-pointer bg-cyan-500" [routerLink]="'/class-17-10-2024/average'">Class-17-10-2024 module / score/average</button>
  <button type="button" class="w-max h-max m-2 p-3 text-white font-semibold rounded-lg cursor-pointer bg-violet-500" (click)="accessMyUser()">Class-17-10-2024 module / my user</button>
</div>
<h1 class="m-1 font-bold font-sans text-lg">NAVIGATION</h1>
<router-outlet>
</router-outlet>
